{% extends '@SYMRestau/baseAdmin.html.twig' %}

{% block title %}Gérer les suppléments{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Gérer les suppléments</h1>
    <a class="btn btn-primary" href="{{ path('supplement_new') }}">Ajouter un supplement</a>

    <div class="card mt-5">
        {% if supplements|length == 0  %}
        <div class="card-body">
            Il n'ya aucun suppléments pour le moment !
        </div>
        {% else %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Numéro</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for supplement in supplements %}
                <tr>
                    <th>{{loop.index}}</th>
                    <td>{{supplement.nom}}</td>
                    <td>{{supplement.prix}} Dh</td>
                    <td>
                        <a class="btn btn-primary mr-2" href=" {{ path('supplement_show', { 'id': supplement.id }) }} ">Voir</a>
                        <a class="btn btn-primary mr-2" href=" {{ path('supplement_edit', { 'id': supplement.id }) }} ">Modifier</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

</div>
{% endblock %}